main{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #9DBEBB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    min-height:70vh;
    width: 75%;
    height: 100%;
    background-color: #FFB039;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
/*FRÅGA: varför har align items och justify content bytt funktioner i formuläret nedan?*/
form{
    width: 65%;
    min-height: 70vh;
    background-color: #BE0909;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.input{
    margin-left: 40px;
    width: 70%;        
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9DBEBB;
    background-color: transparent;
    outline: none; 
}
.email{
    width: 40%;
}
.regarding{
    width: 40%;
}
.input:focus{
    border: 3px solid #9DBEBB;
}
label{
    margin-left: 40px;
    color: #9DBEBB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
}
label:hover{
    cursor: pointer;
    font-size: 19px;
    transition: 0.3s;
}
::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.2em;
}
button{
    background-color: #468189;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 35px;
    border: none;
    padding: 10px;
    align-self: center;
}
.duck-image{
    width: 502px;
    height: 400px;
    justify-self: center;
    margin-left: -200px;
    margin-bottom: -60px;
}

